<head>
	<title>Snowboard Gear Setup</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<header>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img class="logo" src="/img/logo2.jpg">				
			</div>
			<div class="col-sm-4">
				<img class="logo" src="/img/logo1.jpg">				
			</div>
			<div class="col-sm-4">
				<img class="logo" src="/img/logo3.jpg">				
			</div>
		</div>
	</div>	

	<div class="jumbotron">
  	<div class="container text-center">
    	<h1>Snowboard Gear Setting Tool</h1>      
    	<p>RIDE OR DIE</p>
  	</div>
	</div>			
		
</header>

</body>